@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #00142B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-home {
  text-shadow: 10px 10px 0px #3E0287;
}

.title-home-sm {
  text-shadow: 6px 6px 0px #3E0287;
}

video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 0;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, 0);
  object-position: top;
}

.title-about {
  text-shadow: 7px 7px 0px #3E0287;
}

.text-glow {
  text-shadow: 0 0 7px rgb(255 255 255 / 10%), 0 0 10px rgb(255 255 255 / 30%), 0 0 21px rgb(255 255 255 / 20%), 0 0 82px rgb(255 255 255 / 10%)
}

.title-roadmap {
  text-shadow: 8px 8px 0px #3E0287;
}

.glass {
  width: 400px;
  background-color: rgba(62, 2, 135, 0.3);
  backdrop-filter: blur(1px);
  text-align: left;
}

.glass-faq {
  background-color: rgba(62, 2, 135, 0.3);
  backdrop-filter: blur(1px);
}

.drop {
  transform: translateY(0px);
}

.up {
  transform: translateY(-320px);
}
